{% extends 'base.html' %}

{% block title %}PAA{% endblock %}

{% block content %}

<h1 class=" p-1 m-3 text-center">PAA Catalog</h1>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-lg">
            {% for pet in pets %}
                <div class="card text-center" style="width: 30rem;">
                    <img class="card-img-top img-thumbnail" 
                        src="{{ pet.photo_url }}" alt="{{ pet.name }} photo">
                    <div class="card-body">
                        <h5 class="card-title">{{ pet.name }}</h5>
                        <h5 class="card-subtitle mb-2 text-muted">
                            {% if pet.age %} 
                                {{ pet.age }} year old
                            {% endif %}
                                {{ pet.species }} 
                            
                        </h5>
                        <p class="card-text">
                            {{ pet.notes }}</p>
                        <a href="/{{ pet.id }}" class="btn btn-outline-primary">More about Me!</a>
                    </div>
              </div>
            {% endfor %}
        </div>
        <div class="col-sm"></div>
    </div>
</div>








{% endblock %}